<!-- permanent redirect to heroku web server from joogaia-->
<!DOCTYPE HTML><html lang="en"><head><meta charset="UTF-8"/>
</head><body>
<div class="container">
<h1>Sudoku</h1>
<p>1. Rotate:</p>
<p>
<span>1.1</span> original: <code>compare(rowstoday, rowslast)</code><br/>
<span>1.2</span> clockwise 1: <code>compare(columnstoday_reversed, columnslast)</code><br/>
<span>1.3</span> clockwise 2: <code>compare(rowstoday_reversed, rowslast)</code><br/>
<span>1.4</span> clockwise 3: <code>compare(columnstoday, columnslast)</code>
</p>
<pre class="prettyprint linenums" id="snippet-heroku-rotate"></pre>
<p>
<p>Brainstorming</p>
2. columns in segment 6x3=18
<ul>
<li>iterate over every 3 row segment up to 3:<br/>
  shuffle (6), compare every shuffle</li>
</ul>
</p>
<p>3. rows in segment 6x3=18
<ul>
<li>iterate over every 3 column segment up to 3:<br/>
  shuffle (6), compare every shuffle</li>
</ul>
</p>
<p>
4. row or column 6x2=12
<ul>
<li>iterate over group of 3 columns:
  shuffle (6), compare every shuffle</li>
<li>iterate over group of 3 rows:
  shuffle (6), compare every shuffle</li>
</ul>
</p>
<p>5. ?</p>

<p>Sudoku preview sketch</p>
<pre>
last week:
963 174 258
178 325 649
254 689 731

821 437 596
496 852 317
735 961 824

589 713 462
317 246 985
642 598 173

this week:
060 104 050
200 000 001
008 305 600

800 407 006
006 000 300
700 901 004

500 000 002
040 508 070
007 206 900
		</pre>
  </p>
</div>
<link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css" rel="stylesheet" media="screen"/>
<link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap-responsive.css" rel="stylesheet" media="screen"/>
<link href="http://getbootstrap.com/2.3.2/assets/js/google-code-prettify/prettify.css" rel="stylesheet" media="screen"/>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="http://getbootstrap.com/2.3.2/assets/js/google-code-prettify/prettify.js"></script>
<style>
code + span:before {
	content: ': ';
}
</style>
<script type="text/javascript" id="heroku-rotate">
// the static rule of Sudoku number length
var length = 9;
// input includes 9x2 length
// so we have last week and this week results
var rows = ["963174258", "178325649", "254689731", "821437596", "496852317", "735961824", "589713462", "317246985", "642598173", "060104050", "200000001", "008305600", "800407006", "006000300", "700901004", "500000002", "040508070", "007206900"];
// slice rows for last week results
var rowslast = rows.slice(0, length)
// slice rows for this week results
var rowstoday = rows.slice(length, length*2);
// for clocwise/counter clowise 2
// rows for this week results are reversed
var rowstoday_reversed = [].concat(rowstoday);
rowstoday_reversed.reverse();

// predefine arrays for columns population
for(var i = 0, columnstoday = new Array(length), columnslast = new Array(length), columnstoday_reversed; i < rows.length / 2; i++) {
  // go trough each row and pick up a number in order of index
  for(var j = 0; j < length; j++) {
    if(columnstoday[i] == null) columnstoday[i] = '';
    columnstoday[i] += rowstoday[j][i];

    if(columnslast[i] == null) columnslast[i] = '';
    columnslast[i] += rowslast[j][i];
  }
}

// for clockwise 1, or counter clockwise 3
// columns for this week results are reversed
columnstoday_reversed = [].concat(columnstoday);
columnstoday_reversed.reverse();

// taken from: http://stackoverflow.com/questions/7837456/comparing-two-arrays-in-javascript
function compare(arr1, arr2) {
    // if the other array is a falsy value, return
    if (!arr1 || !arr2)
        return false;

    // compare lengths - can save a lot of time
    if (arr1.length != arr2.length)
        return false;

    for (var i = 0; i < arr1.length; i++) {
        // Check if we have nested arrays
        if (arr1[i] instanceof Array && arr2[i] instanceof Array) {
            // recurse into the nested arrays
            if (!compare(arr1[i], arr2[i]))
                return false;
        }
        else if (arr1[i] != arr2[i]) {
            // Warning - two different object instances will never be equal: {x:20} != {x:20}
            return false;
        }
    }
    return true;
}

</script>
<script id="control">
$(function() { window.prettyPrint && prettyPrint(); });
$('script[id]:not([id="control"])').each(function () {
  $('#snippet-' + $(this).attr('id')).append($(this).text());
});
$("<span></span>").text(compare(rowstoday, rowslast)).insertAfter($("span:contains('1.1')").next());

$("<span></span>").text(compare(columnstoday_reversed, columnslast)).insertAfter($("span:contains('1.2')").next());

$("<span></span>").text(compare(rowstoday_reversed, rowslast)).insertAfter($("span:contains('1.3')").next());

$("<span></span>").text(compare(columnstoday, columnslast)).insertAfter($("span:contains('1.4')").next());
</script>
</body></html>
